.footer-main-div {
  background: linear-gradient(
    to right,
    #FDF1EA,
    #F3EDE3,
    #EFE6D8
  );
  display: flex;
  justify-content: space-between;
 min-width: 1024px;
 padding: 20px 80px 0px 0px;

}

.footer-img-div{
height: 150px;
width: 150px;
}

.footer-img-div img{
    height: 100%;
    width: 100%;
}

.footer-main-div ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.footer-main-div h1{
    font-size: 1.6rem;
     font-family: 'Inter', sans-serif;
     font-weight: 550;
     color: #3F5D0A;
}

.footer-main-div li{
    font-family: 'Abel', sans-serif;
}

.footer-main-div li {
    font-size: 1rem;
  color: #3F4F3A;
  text-decoration: underline;
  text-decoration-color: transparent; 
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
}

.footer-main-div li:hover {
  color: #1F5D0A;
  text-decoration-color: #1F5D0A; 
  cursor: pointer;
}

.footer-copyright-div{
    text-align: center;
    max-width: 280px;
    margin-top:20px ;
    color: #3F4F3A;
    font-weight: 600;
    font-size: 1rem;
}

.footer-icons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.footer-icon{
    border: rgba(121, 114, 114, 0.8) solid 1px;
    border-radius: 999px;
    padding: 5px;
    font-size: 1.30rem;
    color: #3F4F3A;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-icon:hover{
    background-color: #3F4F3A;
    color: whitesmoke;
    cursor: pointer;

}

@media (min-width: 1024px) and (max-width: 1300px) {
.footer-main-div{
    padding-right: 10px;
    gap: 25px;
}
}

@media (min-width: 600px) and (max-width: 800px) {
.footer-main-div{
    min-width: 600px;
    padding-right: 10px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 10px;
}

.f-site{
    margin-left: 40px;
}
.footer-help-div{
    margin-left: 20px;
}

}


@media (min-width: 320px) and (max-width: 480px) {
.footer-main-div{
    min-width: 320px;
    padding-right: 10px;
   flex-direction: column;
   text-align: center;
   gap: 20px;
align-items: center;
}


}
