body{
   /* background: linear-gradient(
    135deg,
    #FDECEC,
    #F6F4D2,
    #E6F8B2
  ); */
 background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.mid-main {
  /* background: linear-gradient(
    135deg,
    #FDECEC,
    #F6F4D2,
    #E6F8B2
  ); */
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./handsack.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 650px;
 padding-top: 60px;
 display: flex;
 justify-content: space-around;
    
}
.mid-main-div-right{
  margin-top: 15px;
}

.mid-main-div-left{
 background: linear-gradient(
    135deg,
    #FDECEC,
    #F6F4D2,
    #E6F8B2
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  width: 45%;
  margin-top: 20px;
}
.mid-main-div-p{
  font-weight: 600;
  word-spacing: 2px;
  margin-bottom: 12px;
  font-size: 1.5rem;
} 
/* .mid-main-last-p{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.mid-main-last-p p,i{ 
  font-weight: 600;
  word-spacing: 2px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}  */
#p-main{
  margin-top: 25px;
}
.mid-main h1{
  font-family: 'Inter', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 15px;
  }

/* .mid-main-div-left span {
  font-size: 4rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;

} */

#mid-right-green{
   background: linear-gradient(135deg, #00CB14, #00650A);
}
.mid-right-top{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.mid-right-btn {
  background: linear-gradient(135deg, #991313, #FF1F1F);
  border-radius: 12px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100px;
  max-width: 240px;
  cursor: pointer;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background 0.25s ease;
}

.mid-right-btn:hover {
  transform: translateY(-4px);
  background: linear-gradient(135deg, #7A0C0C, #D80000);
}
.mid-right-btn p { background: linear-gradient( 135deg, #FDECEC, #F6F4D2, #E6F8B2 ); color: transparent; -webkit-background-clip: text; background-clip: text; font-size: 2.25rem;}




.mid-right-btn:hover p {
  background: none;
  -webkit-background-clip: initial;
  background-clip: initial;
  color:  #bdbdbb ;
}

#mid-right-green:hover {
  background: linear-gradient(135deg, #009e10, #004d08);
}

 
.mid-right-bottom {
 
  width: 100%;
  max-width: 550px;
  min-width: 450px;
  height: 280px;
  margin: 20px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.fire{
  display: none;
}



@media (min-width: 1024px) and (max-width: 1300px) {
  .navbar-m-div-right{
    min-width: 500px;
  }
  .mid-main{
    justify-content: space-between;
    padding: 50px 25px;
  }
  .mid-main-div-p{
  font-size: 1.3rem;
}
  .mid-main h1{
    margin-bottom: 30px;
    font-size: 3.25rem;
  }
}


@media (min-width: 600px) and (max-width: 800px) {
 
  .mid-main{
    min-height: 475px;
    padding-top: 130px;
  }
  .mid-main-div-p{
  font-size: 1rem;
  margin-bottom: 7.5px;
}
#p-main{
  margin-top: 10px;
}
  .mid-main h1{
    margin-bottom: 15px;
    font-size: 2.25rem;
  }

  #p-main-last{
    display: none;
  }
.mid-right-top{
  align-items: center;
  padding-top: 0px;
}
.mid-main-div-left{
  width: 55%;
  margin-top: 0px;
}
.mid-main-div-right{
  margin-top: 0px;
}
  .mid-right-btn {
    padding: 0px 10px;
    gap: 10px;
    min-height: 80px;
    min-width: 200px;
    max-width: 200px;
}
.mid-right-btn p{
  font-size: 2rem;
}
#lost-img, .mid-right-btn img{
    width: 80px;
    height: 80px;
  }
 .mid-right-bottom{
  min-width: 200px;
  max-width: 250px;
  height: 100px;
 }
 .mid-right-bottom img{
  height: 100%;
  width: 100%;
 }
}

@media (min-width: 320px) and (max-width: 480px) {
 
  .mid-main{
    padding-top: 120px;
      background: linear-gradient(
    135deg,
    #FDECEC,
    #F6F4D2,
    #E6F8B2
  );
    min-height: 400px;
    max-height: 900px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .mid-main h1, .mid-main-div-left span{
    font-size: 2.2rem;
    color: black;
    margin-bottom: 25px;
  }
.mid-right-top{
  align-items: center;
  padding-top: 0px;
}
.mid-main-div-left{
  width: 85%;
  text-align: center;
}
.mid-main-div-left p{
display: none;
}

  .mid-right-btn {
    padding: 0px 0px;
    gap: 5px;
    min-height: 70px;
    min-width: 150px;
    max-width: 180px;
}
.mid-right-btn p{
  font-size: 1.5rem;
}
#lost-img, .mid-right-btn img{
    width: 60px;
    height: 60px;
  }
 .mid-right-bottom{
  min-width: 250px;
  max-width: 250px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 20px;
 }
 .mid-right-bottom img{
  height: 100%;
  width: 100%;
 }
}