.main-item-div{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    width: 80%;
    justify-self: center;
    display: flex;
    margin-top: 25px;
    gap: 20px;
}
.item-left{
  width: 70%;
  border-radius: 12px;
  overflow: hidden;
  border: solid silver 1px;
  background-color: white;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.item-left h1 i{
  margin-left: 5px;
}
.item-left h1{
 padding-bottom: 10px;
   font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, sans-serif;
    color: #b30000;
    animation: textColorBlink 1s infinite;
    border-bottom: solid 2px #ddd ;
}

@keyframes textColorBlink {
    0% {
        color: #b30000;   /* red */
    }
    50% {
        color: #ff4d4d;   /* lighter red */
    }
    100% {
        color: #b30000;
    }
}

.item-page {
  font-family: "Poppins", sans-serif;
  border-top:  solid 2px silver;
  margin-top: 40px;
}


.post-info {
  padding: 30px 25px 0px 25px;
  border-radius: 12px;
}

.post-title {
  color: #b30000;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
  width: 258px;
}
.post-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background:#b30000;
  transition: width 0.35s ease;
  border-radius: 2px;
  width: 100%;
}

.post-grid {
display: flex;
flex-direction: column;
gap: 10px;
}


.post-label {
  color: #555;
  font-size: 1rem;
  font-weight: 500;
}

.post-value {
  font-size: 1.1rem;
}

.post-value.lost {
  color: #d32f2f;
  font-weight: 600;
  font-size: 1.2rem;
}

.post-value.found {
  color: #1F5D0A;
}
.post-item{
   display: flex;
  gap: 10px;
  padding: 5px;
}
#status-lost{
  align-self: center;
}
#desc-lost{
  width: 85%;
  font-size: 1.05rem;
  line-height: 22px;
}
.spec-value {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 0px;
}

.viewer-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: white;
  position: relative;
 box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  border-radius: 12px;
  margin-top: 20px;
}

.viewer-image {
  min-width: 650px;
  min-height: 400px;
  max-width: 700px;
  height: 400px;
  object-fit: contain;
}


.close-btn {
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}


.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.nav-arrow.left {
  left: 24px;
}

.nav-arrow.right {
  right: 24px;
}

.nav-arrow:hover {
  background: #1F5D0A;
  color: #ffffff;
  border-color: #1F5D0A;
}

.item-right{
  border-radius: 10px;
overflow: hidden;
width: 25%;
display: flex;
flex-direction: column;
gap: 30px;
}

.item-right-1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: solid 1px silver;
  border-radius: 10px;
}
.item-right-1-top{
  display: flex;
 gap: 10%;
 align-items: center;
   padding:10px 15px;
   border-bottom: solid 1px silver;
}
.item-right-1-top .dp{
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.item-right-1-top .dp img{
width: 100%;
height: 100%;
}
.dp-text p{
   color: #7e7e7e;
  font-size: 0.9rem;
}
.dp-text h3{
    color: #b30000;
  font-weight: 600;
}
.loc-dp{
    padding:0px 15px;
  display: flex;
  justify-content: space-between;
}
.loc-dp p{
   color: #555;
}

.loc-dp i{
  color: #555;
  margin-right: 5px;
}
#joined{
   border-bottom: solid 1px silver;
   padding-bottom: 15px;
}
.item-right-1 button{
  margin: 10px 45px;
  padding:10px 5px;
     border-radius: 5px;
    font-family: 'Abel', sans-serif;
    border: solid 1px #2F5D0A;
    background: linear-gradient(135deg, #3F4F3A, #6b8f5f);
    color: white;
    font-size: 1rem;
}
.item-right-1 button i{
  margin-right: 7.5px;
}

.item-right-2{
  background-color: white;
  border: solid 1px silver;
  border-radius: 10px;
   padding: 10px 0px 0px 0px;
    overflow: none;
     height: 320px;
}
.item-right-2 p{
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.item-right-2 iframe{
  border-left: none;
  border-top: none;
   border-bottom: solid 1px silver;
  border-bottom-right-radius:10px;
  border-bottom-left-radius: 10px;
  height: 90%;
  width: 100%;
}


.item-right-3{
      background-color: white;
  border: solid 1px silver;
  border-radius: 10px;
   padding: 15px 0px;
}
.item-right-3 h2{
  font-weight: normal;
  padding-left: 20px;
  font-size: 1.2rem;
  padding-bottom: 10px;
    border-bottom: solid 1px silver;
}

.item-right-3 p{
  padding-left: 20px;
  padding-top: 10px;
}

.item-right-3 p i{
  margin-right: 5px;
}
/* ✅ Responsive */
@media (min-width: 1024px) and (max-width: 1300px){
  .main-item-div{
    width: 95%;
  }
  .item-right-2 {
    height: 260px;
  }
} 
@media (min-width: 600px) and (max-width: 800px) {
 .main-item-div{
  margin-top: 120px;
  flex-direction: column;
  width: 90%;
 }
 .item-left{
  width: 100%;
 }
 .item-right{
  width: 100%;
  margin-bottom: 20px;
 }
 .item-right-1-top{
  gap: 20px;
 }
  .viewer-image{
  min-width: 550px;
 }
}



@media  (min-width:320px) and (max-width: 480px) {
  .main-item-div{
  flex-direction: column;
  width: 100%;
  border-radius: 0px;
 }
 .item-left{
    padding: 80px 10px 20px 10px;
  width: 100%;
  border-radius: 0px;
 }
 .item-left h1 {
  text-align: center;
 }
 .item-right{
  align-self: center;
  width: 90%;
  margin-bottom: 20px;
 }
 .item-right-1-top{
   gap: 20px;
  }

 .viewer-overlay {
  height: 400px;
 }
 .viewer-image{
  min-width: 200px;
  max-width: 220px;

 }

 .nav-arrow.right{
  right: 5px;
 }
 .nav-arrow.left{
  left: 5px;
 }
 .post-value{
  font-size: 0.9rem;
 }
 #desc-lost{
  width: 65%;
  font-size: 0.8rem;
 }
 .post-info{
  padding: 25px 10px 0px 10px;
 }

 .item-right{
  gap: 50px;
 }
}






